# Exploratory Analysis of Titanic Dataset

In [2]:
# as of 20221014
x = 2
y = 3

In [3]:
print (x * y)

6