# Exploratory Analysis of Titanic Dataset

In [2]:
# as of 20221014
x = 2
y = 3

In [3]:
print (x * y)

6

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt